<!DOCTYPE html>

<html>

  <head>

    <style>

    body {
      background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/static/rock.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .text_font {
      font-family: verdana;
      font-size: 80%;
      color: white;
    }

    .button {
      border-radius: 10px;
      color: white;
      background-color: #ff6b3f;
    }

    </style>

    <title>error</title>
    <h3 style="text-align:center; font-family: verdana; color:white;">
      Error: this username does not exist
    </h3>

  </head>

  <body>

    <div style="text-align: center">
      <input class="button text_font" type="button" onclick="document.location='sign_in'" value=" Retry ">
    </div>

  </body>

</html>
